[defaults]
inventory          = inventaires
private_key_file   = sshkeys/ansible
interpreter_python = /usr/bin/python3

[privilege_escalation]
# Valeur par défaut -- juste pour illustrer la section
become = false
