[defaults]
inventory          = inventaires
private_key_file   = sshkeys/ansible
interpreter_python = /usr/bin/python3

gathering               = smart
fact_caching            = jsonfile
fact_caching_connection = facts.d
fact_caching_timeout    = 3600

[privilege_escalation]
# Valeur par défaut -- juste pour illustrer la section
become = false
