[defaults]
inventory          = inventaires
private_key_file   = sshkeys/ansible
interpreter_python = /usr/bin/python3
host_key_checking  = false

gathering               = smart
fact_caching            = redis
fact_caching_connection = 192.168.56.210:6379:0
fact_caching_timeout    = 3600

retry_files_enabled     = true
retry_files_save_path   = retry.d

[privilege_escalation]
# Valeur par défaut -- juste pour illustrer la section
become = false
